/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #007bff;
	margin-top: 0px;
}
#progressNum {
	margin-top: 0px;
	margin-bottom: 0px;
}

footer {
    position: fixed;
    bottom: 0;
    color: white;
    background-color: #006aee;
    padding: 10px;
    width: 100%;
	margin-left: -2vh;
}

#footer {
    text-align: center;
}

#question {
    margin-bottom: 20px;
}

.choice {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.choice:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 20px;
    font-weight: bold;
}

#animation {
    margin-top: 20px;
}

/* Add this CSS to the existing styles.css file */

/* Add this CSS to the existing styles.css file */

#road {
    width: 80%;
    height: 26px;
    background-color: #686F72; /* Gray road */
    position: relative;
    margin: 30px auto;
}

#car {
    width: 48px;
    height: 26px;
    position: absolute;
    left: 0;
    top: -10px; /* Adjust to align with the road */
    /* animation: drive 5s linear forwards; Remove or comment out this line */
}


@keyframes drive {
    to {
        left: 100%; /* Move the car to the end of the road */
    }
}


#path {
    width: calc(100% - 100px);
    height: 5px;
    background-color: #000000; /* Black path */
    position: absolute;
    left: 60px; /* Initial position */
    top: 115px; /* Adjust as needed */
}

.controls {
    margin: 20px auto; /* Adjust margin for better spacing */
    display: flex;
    justify-content: center; /* Center the buttons horizontally */
}

.controls button {
    padding: 10px 20px; /* Add padding for better touch experience */
    margin: 0 10px; /* Add margin between buttons */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px; /* Adjust font size */
    color: #fff;
}

.controls #backButton {
    background-color: #007bff; /* Blue color for back button */
}

.controls #sendButton {
    background-color: #28a745; /* Green color for send button */
}

.controls button:hover {
    opacity: 0.8; /* Reduce opacity on hover for visual feedback */
}

.controls button:disabled {
    opacity: 0.5; /* Reduce opacity when button is disabled */
    cursor: not-allowed; /* Change cursor when button is disabled */
}

